<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Cancha </title>
    <link rel="stylesheet" href="/dev/styles/Details.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <!--Portada-->
        <div class="img">
            <img src="/dev/img/Donbalon.png" alt="">
        </div>
        <!-- Botones en la parte superior-->
        <div class="user-actions">
           <a href="/dev/views/home.html"><img src="/dev/assets/back-icon.svg" alt=""></a>
           <button><img src="/dev/img/heart.svg" alt=""></button>
        </div>
    </header>
    <!-- Seccion principal -->
    <section class="Principal_section"> 
        <figure class="cancha">                
        <figcaption>
            <h3>Don Balón</h3>
            <p class="precio"><strong>$50000</strong></p>
            <p><i class="fas fa-map-marker-alt"></i> Soacha, Cundinamarca</p>
            <nav class="options">
                <div class="button-options">
                    <a href="#" class="button-options">
                        <img src="/dev/img/field.svg" >
                        <span>3 Canchas</span>
                    </a>
                    <a href="#" class="button-options">
                        <img src="/dev/img" >
                        <span>Busqueda</span>
                    </a>
                    <a href="#" class="button-options">
                        <img src="/dev/img/car.svg" >
                        <span>Garages</span>
                    </a>

                </div>
            </nav>
        </figcaption>
    </figure>
    <!--Seccion de Galeria-->
    <article class="Galery">
        <ul class="Galery_img">

        </ul>
    </article>
    <!--Seccion de reserva y llamada-->
    <article class="botton-reservation">
        <div class="botton-reservation-content">
            <BUTton><img src="" alt=""></BUTton>
            <button class="reservation-button">Reservar</button>
        </div>
    </article>
    </section>
</body>
</html>