<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/dev/img/Icon-stand-alone.svg" type="/imagenes"><!--Icono de la pagina-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextSport</title>
</head>
<body>
<section> <!--Seccion principal-->
    <div class="contenedorPrincipal" id="contenedorPrincipal">
        <img src="/dev/img/Icon-stand-alone.svg" alt="Logo de NextSport" class="logo"> <!--Logo de la pagina-->
        <h1>NextSport</h1>
        <p>La mejor plataforma para encontrar tu cancha ideal.</p>
        <a href="/dev/views/login.html" class="boton">Iniciar Sesión</a> <!--Botón para iniciar sesión-->
        <a href="/dev/views/registro.html" class="boton">Registrarse</a> <!--Botón para registrarse-->
        <a href="/dev/views/perfil.html" class="boton">Ver Perfil</a> <!--Botón para ver perfil-->
    </div>
</section>

<!-- Section de busqueda -->
 <section class="busqueda">
        <img src="" alt="">
        <input type="text" placeholder="Buscar cancha, equipo o torneo" class="input-busqueda"> <!--Barra de busqueda-->
        <button class="boton-busqueda">Buscar</button> <!--Botón de busqueda-->
 </section>

<!-- Menu de Seleccionable -->

<nav class="Menu_Seleccionable">
    <ul class="Menu">
        <li class="Menu1"><img src="" alt=""><a href="" class="boton">Reservar canchas</a></li> <!--Botón para buscar cancha-->
        <li class="Menu2"><img src="" alt=""><a href="" class="boton">Torneos</a></li> <!--Botón para buscar partido-->
        <li class="Menu3"><img src="" alt=""><a href="" class="boton">Mapa</a></li> <!--Botón para buscar equipo-->
        <li class="Menu4"><img src="" alt=""><a href="" class="boton">Equipos</a></li> <!--Botón para buscar cancha-->
    </ul>
</nav>

<!-- Menu de Seleccionable -->

<section class="Menu_Cancha_Serca">
    <div class="MenuCancha1"> 
        <article>

        </article>
    </div>
</section>
</body>
</html>

