<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/dev/img/Icon-stand-alone.svg" type="/imagenes"><!--Icono de la pagina-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextSport</title>
</head>
<body>
<section> <!--Seccion principal-->
    <div class="contenedorPrincipal" id="contenedorPrincipal">
        <img src="/dev/img/Icon-stand-alone.svg" alt="Logo de NextSport" class="logo"> <!--Logo de la pagina-->
        <h1>NextSport</h1>
        <p>La mejor plataforma para encontrar tu cancha ideal.</p>
        <a href="/dev/views/login.html" class="boton">Iniciar Sesión</a> <!--Botón para iniciar sesión-->
        <a href="/dev/views/registro.html" class="boton">Reigstrarse</a> <!--Botón para registrarse-->
</section>

<!-- Section de busqueda -->
 <section class="busqueda">
    <div class="buscador">
        <img src="" alt="">
        <input type="text" placeholder="Buscar cancha, equipo o torneo" class="input-busqueda"> <!--Barra de busqueda-->
        <button class="boton-busqueda">Buscar</button> <!--Botón de busqueda-->
    </div>
 </section>

<!-- Menu de Seleccionable -->

<section class="Menu_Seleccionable">
    <div class="Menu1">
        <a href="" class="boton">Reservar canchas</a> <!--Botón para buscar cancha-->
        <img src="" alt="">
    </div>
    <div class="Menu2">
        <a href="" class="boton">Torneos</a> <!--Botón para buscar partido-->
        <img src="" alt="">
    </div>
    <div class="Menu3">
        <a href="" class="boton">Mapa</a> <!--Botón para buscar equipo-->
        <img src="" alt="">
    </div>  
    <div class="Menu4">
        <a href="" class="boton">Equipos</a> <!--Botón para buscar cancha-->
        <img src="" alt="">
</section>

<!-- Menu de Seleccionable -->

<section class="Menu_Cancha_Serca">
    <div class="MenuCancha1"> 
        <article>

        </article>
    </div>
</section>
</body>
</html>

