<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Iniciar Sesión / Registro</title>
  <link rel="stylesheet" href="/dev/styles/logpagestyles.css" />
</head>
<body>
  <main class="container_log">
    <img src="/dev/img/login-icon.svg" alt="logo NextSport" width="90%" height="300px" />

    <!-- LOGIN -->
    <form id="login-form">
      <input type="text" id="login-name" name="login-name" required placeholder="Juan Pérez" />
      <input type="email" id="login-email" name="login-email" required placeholder="mail@example.com" />
      <button type="submit">Iniciar Sesión</button>
      <p>¿No tienes cuenta? <a href="#" id="show-register">Regístrate</a></p>
    </form>

    <!-- REGISTRO -->
    <form id="register-form" style="display: none;">
      <input type="text" id="reg-name" name="reg-name" required placeholder="Tu nombre" />
      <input type="email" id="reg-email" name="reg-email" required placeholder="mail@example.com" />
      <input type="password" id="reg-password" name="reg-password" required placeholder="********" />
      <button type="submit">Registrar</button>
      <p style="display: none;">¿Ya tienes cuenta? <a href="#" id="show-login">Inicia Sesión</a></p>
    </form>
    
  </main>

  <script src="/dev/javascript/transitionlog.js"></script>
</body>
</html>


