<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=e, initial-scale=1.0">

    <link rel="icon" href="/dev/img/Vector.svg" type="/imagenes">
    <title>Mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" /><!-- Hoja de estilos de Leaflet para modificar el mapa -->
    <link rel="stylesheet" href="/dev/styles/estilo_mapa.css">

</head>
<body>
    <!-- Titulo de la pagina -->
    <header>
        <input type="text" name="bucadorcanchas" id="buscador" placeholder="Buscar canchas...">
        <h1 class="title">
            Canchas de disponibles
        </h1>
    </header>
    <!-- Contenido de la pagina -->
    <main>
        <!-- Buscador y botones -->
        <section>
            <span class="icono-buscador">
                <i class="fas fa-search"></i>
            </span>
            <section class="mapa">
                <aside>        
                    <article class="canchas" id="cancha_info">
                        <section>
                            <img src="/dev/img/canchas111.jpg" alt="">
                            <h1 id="nombre_cancha">Nombre</h1>
                            <p id="desc_cancha">Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Saepe suscipit quibusdam 
                                ]harum dignissimos sint aut, dolorem praesentium 
                                sit est commodi doloribus. Possimus quis maiores 
                                neque, quod sapiente reprehenderit blanditiis animi.
                            </p>
                            <button onclick="">reservar</button>
                        </section>
                    </article>
                </aside>
                <div id="map"></div>
            </section>
    </main>
    <!-- Script de Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/dev/javascript/mapa.js"></script>
</body>
</html>