<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=e, initial-scale=1.0">
    <link rel="stylesheet" href="/dev/styles/map.css">
    <title>Mapa</title>
</head>
<body>
    <!-- Titulo de la pagina -->
    <header>
        <h1 class="title">
             Canchas de futbol
        </h1>
    </header>
    <!-- Contenido de la pagina -->
    <main>
        <!-- Buscador y botones -->
        <section>
            <span class="icono-buscador">
                <i class="fas fa-search"></i>
            </span>
            <div class="buscador">
                <input type="text" name="bucadorcanchas" id="buscador" placeholder="Buscar canchas...">
            </div>
            <div class="botonesfiltro">
                <button>Cercanas</button>
                <button>Futbol 5</button>
                <button>Futbol 7</button>
            </div> 
        </section>
        <!-- Mapa de busqueda -->
        <section class="mapa">
            <img src="/dev/img/mapa.png" alt="Mapa de canchas">
        </section>
        <!-- Informacion de la cancha -->
        <section>
            <div class="info-canchas">
            <h2 class="nombrecancha">
                Cancha el Goleador
           </h2>
           <p class="disponibleahora"><i class="fas fa-map-marker-alt"></i>Disponible ahora</p>
           <p><i class="fas fa-map-marker-alt"></i>Av. Libertador 1234, CABA</p>
           <p><i class="fas fa-map-marker-alt"></i>Futbol 5, y 7, cesped sintetico</p>
           <p><strong>$50000</strong></p>
           <nav>
               <a href="" class="verdetalles">Ver detalles</a>  
               <a href="" class="reservar">Reservar</a>
           </nav>
           </div>
        </section>
    </main>
</body>
</html>