<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar reserva</title>
    <link rel="stylesheet" href="/dev/styles/paymentstyles.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><img src="" alt=""></li>
                <li><h2>Finalizar reserva</h2></li>
                <li><img src="" alt=""></li>
            </ul>
        </nav>
        <article class="info_payment">
            <h1>resumen reserva</h1>
            <hr>
            <section>
                <div>
                    <p>Cancha</p>
                    <p id="court_type"></p>
                </div>
                <div>
                    <p>Fecha</p>
                    <p id="court_date"></p>
                </div> 
                <div>
                    <p>Hora</p>
                    <p id="court_time"></p>
                </div>
                <div>
                    <p>Duración</p>
                    <p id="court_duration"></p>
                </div>
            </section>
            <hr>
            <h1>Total a pagar</h1>
            <div>
                <p>Total a pagar</p>
                <p id="court_price"></p>
            </div>
        </article>
        <article id="payment_methods">
            <h1>Metodos de pago</h1>
            <hr>
            <form method="post" id="payment_methods_form">
                <label>
                    <input type="checkbox" name="tarjeta" id="tarjeta">
                </label>
                <label>
                    <input type="checkbox" name="tarjeta" id="paypal">
                </label>
                <label>
                    <input type="checkbox" name="tarjeta" id="transferencia">
                </label>
            </form>
            <form method="post" id="payment_methods_form">
                <label for="card_number">Numero de tarjeta</label>
                <input type="text" id="card_number" name="card_number" required placeholder="XXXX-XXXX-XXXX-XXXX">
                <br><br>
                <label for="card_expiration">Fecha de expiracion</label>
                <input type="text" id="card_expiration" name="card_expiration" required placeholder="MM/AA">
                <br><br>
                <label for="card_cvc">CVC</label>
                <input type="text" id="card_cvc" name="card_cvc" required placeholder="XXX">
                <br><br>
                <button type="submit">Pagar</button>
            </form>
        </article>
    </main>
</body>
</html>