<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="icon" href="/dev/img/Vector.svg" type="/imagenes">
    <link rel="stylesheet" href="/dev/styles/profile2.css">
    <title>Mi Perfil</title>
</head>
<body>
    <!-- Seccion principal con titulo-->
    <header class="header">
        <button class="back-button">
            <span class="icon-placeholder">
                <img src="/dev/assets/back-icon.svg" alt="more-arrow-button">
            </span>
        </button>
        <h2 class="header-title">Perfil</h2>
    </header>
    <!-- Seccion de parrafos y titulos -->
     <main>
        <h2 class="Nombreusuario">Lionel Messi</h2>
        <h3>Delantero</h3>
        <h5>Biografia</h5>
        <p>Lionel Messi es un delantero excepcional conocido por su increible control del balon, vision de juego y precision en el disparo. Ha sido clave en multiples titulos de su equipo destacando por su diretasgo de asistir y marcar goles.</p>
        <h5>Estadisticas</h5>
        <div class="Estadisticas2">
            <p class="Estadisticas"> 5<br>Asis.</p>
            <p class="Estadisticas">8 <br>Partidos</p>
            <p class="Estadisticas">10 <br>Goles </p>

        </div>
        <img class="fotoperfil" src="/dev/img/Donbalon.png" alt="">
     </main>
    
</body>
</html>