<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Servicio Técnico y Comentarios</title>
  <link rel="stylesheet" href="/dev/styles/servicio-tecnico.css">
</head>
<body>
  <section class="header-container">
    <div class="user-card">
      <img src="/NextSports-main/dev/assets/user-icon.svg" alt="usuario" class="icono-usuario" />
      <div>
        <h1>Servicio Técnico y Comentarios</h1>
        <h2>Arrendatario</h2>
      </div>
    </div>
    <div class="botones">
      <button onclick="window.history.back()">Volver</button>
      <button onclick="agregarComentario()">Agreggate</button>
    </div>
  </section>

  <main id="comentarios-container" class="comentarios-container"></main>
</body>
</html>
